<div class="connect-panel-wrapper">
    <div class="panel panel-default" id="connect-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Connect With Me</h3>
      </div>
      <div class="panel-body connect-panel-body">
        <div class="icons">
          <!-- Begin Icon Section -->
          <!-- Git Hub Icon -->
         
            <a id = "gitLink" href="https://github.com/mkallgren08" target="_blank">
              <img class="icon raised" src="./assets/images/GitHub-Mark.png" alt='GitHub Icon'>
            </a>
        

          <!-- LinkedIn Icon -->
         
            <a id = "linkedInLink" href="https://www.linkedin.com/in/michaelkallgren/" target="_blank">
              <img class="icon raised" src="./assets/images/linkedin-logo.jpg" alt='LinkedIn Icon'>
            </a>
          

          <!-- StackOverflow Icon -->
          
            <a id = "stackLink" href="https://stackexchange.com/users/11177288/michael-kallgren" target="_blank">
              <img class="icon raised" src="./assets/images/so-icon.svg" alt="StackOverflow Icon">
            </a>
          
        </div>
        <!-- End Icons -->
      </div>
    </div>
</div>