<nav class="footer navbar-fixed-bottom">
  <div class="container-fluid row" style="margin-right: 0px; margin-left: 0px;">
    <div class="col-md-12">
      <div class="col-md-5"></div>
      <div class="col-md-2 copyright">Copyright &copy; 2017</div>
      <div class="col-md-5" style="padding-right:0px;"></div>
    </div>
  </div>
</nav>