<!-- Navbar -->
<nav class="pf__navbar  header">
  <div class=" pf__navbar-namelogo">
    <p id="nameplate" class="pf__navbar-nameplate">Michael K. Kallgren</p>
    <p id="initialplate" class="pf__navbar-initialplate">M.K.K.</p>
    <img id="headshot-icon" class="pf__navbar-headshot-icon" src="./assets/images/Headshot-Icon.jpg"
      alt="Headshot: Michael K. Kallgren">
  </div>
  <div class="pf__navbar-tab-wrapper nav nav-tabs">
    <span class="{{#if homepage}}{{homepage}}{{/if}} pf__navbar-tab-label">
      <a href="/" class="nav-label-txt">About</a>
    </span>
    <span class="{{#if contact}}{{contact}}{{/if}} pf__navbar-tab-label">
      <a href="/contact" class="nav-label-txt">Contact</a>
    </span>
    <span class="{{#if portfolio}}{{portfolio}}{{/if}} pf__navbar-tab-label">
      <a href="/portfolio" class="nav-label-txt">Portfolio</a>
    </span>
  </div>
</nav>
<!--  End navbar -->