<div class="container-fluid">
  {{!--
  <div class="nav-wrap"> --}}
    <!-- Navbar -->
    <nav class="background-darkblue navbar navbar-default header">
      <div class=" namelogo background-gold2">
        <p id="nameplate">Michael K. Kallgren</p>
        <p id="initialplate">M.K.K.</p>
        <img class="headshot icon" src="./assets/images/Headshot-Icon.jpg" alt="Headshot: Michael K. Kallgren">
      </div>
      <div class="nav nav-tabs">
        <span class="{{#if homepage}}{{homepage}}{{/if}} nav-label">
          <a href="/" class="nav-label-txt">About</a>
        </span>
        <span class="{{#if contact}}{{contact}}{{/if}} nav-label">
          <a href="/contact" class="nav-label-txt">Contact</a>
        </span>
        <span class="{{#if portfolio}}{{portfolio}}{{/if}} nav-label">
          <a href="/portfolio" class="nav-label-txt">Portfolio</a>
        </span>
      </div>
    </nav>
    <!--  End navbar -->
    {{!-- </div>
</div> --}}
</div>