<div class="container-fluid banner">
  {{!--
  <div class="container"> --}}
    <div class="row">
      <div class="nav-wrap">
        <!-- Navbar -->
        <nav class="navbar navbar-default navbar-static-top">
          <div class="row">
            <div class="col-md-6">
              <div class="navbar-left namelogo">
                <h1>Michael K. Kallgren</h1>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row topfill">
                <div class="col-sm-12"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="{{#if homepage}}{{homepage}}{{/if}}">
                      <a href="/">About</a>
                    </li>
                    <li role="presentation" class="{{#if contact}}{{contact}}{{/if}}">
                      <a href="/contact">Contact</a>
                    </li>
                    <li role="presentation" class="{{#if portfolio}}{{portfolio}}{{/if}}">
                      <a href="/portfolio">Portfolio</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!--  End navbar -->
      </div>
    </div>
    {{!-- </div> --}}
</div>