{{>navPanel}}

<div class="container mainbody">
  <div class="row">
    <div class="col-sm-6 col-md-6 maincontent">
      <div class="row">
        <div class="col-md-12">
          <h3> Contact Me </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <form id="contactForm" action="#">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h4>Your Name:*</h4>
                <input class="contactee" id="contactName" type="text" placeholder="Name">
              </div>
              <div class="col-sm-12 col-md-6">
                <h4>Your E-Mail:*</h4>
                <input class="contactee" id="contactEmail" type="text" placeholder="Example@email.com">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <h4>Callback Number:</h4>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1" value="1">+1</span>
                  <input class="contactee" id="contactPhone" type="text" placeholder="xxx xxx xxxx">
                </div>
                <div class="input-group">
                  <div class="input-group-btn">
                    <select class="btn btn-default dropdown-toggle" id="countryCodes" onchange="displayedCode()">
                      <span class="caret"></span>
                      {{#each results}}
                      <option value="{{this.code}}">{{this.name}} (+{{this.code}})</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <h4>Preferred Method of Contact?*</h4>
                <input type="radio" name="contact-type" value="email"> E-mail
                <br>
                <input type="radio" name="contact-type" value="phone"> Phone
                <br>
                <input type="radio" name="contact-type" value="either"> Either
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-9">
                <h4>Your Message:*</h4>
                <textarea class="messagetxt" id="contactMessage" rows="6" columns="50"></textarea>
              </div>
              <div class="col-sm-12 col-md-3">
                <input class="submit contact-submit btn-lg" type="submit" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{>connect}}

  </div>
</div>