{{>navPanel}}

<div class="pf__main-body-wrapper">
  <div class="pf__main-body-content">
    <div class="raised mk__panel mk_panel-default pf__main-body-panel">
      <div class="mk__panel-heading">
        <h3 class="mk__panel-title pf__about-me-panel-title"> Contact Me </h3>
      </div>
      <div class="mk__panel-body">
        <section id="contactForm" class="pf__contact-me-info-form">
          <div class="pf__contact-me-info-wrapper">
            <div class="pf__contact-me-info-name pf__contact-me-info">
              <h4>Your Name:*</h4>
              <input class="pf__contact-me-info-contactee pf__contact-me-info-input-grp" id="contactName" type="text" placeholder="Name">
            </div>
            <div class="pf__contact-me-info-email">
              <h4>Your E-Mail:*</h4>
              <input class="pf__contact-me-info-contactee pf__contact-me-info-input-grp" id="contactEmail" type="text"
                placeholder="Example@email.com">
            </div>
            <div class="pf__contact-me-info-callback">
              <h4>Callback Number:</h4>
              <div class="mk__input-group mk__input-group--left pf__contact-me-info-input-grp">
                <span class="mk__input-group-addon-info mk__addon--left" id="basic-addon1" value="1">+1</span>
                <span class="mk__input-group-addon-dropdown mk__addon-dropdown--left">
                  <select id="countryCodes2" onchange="displayedCode()">
                    <span class="caret"></span>
                    {{#each results}}
                    <option value="{{this.code}}">{{this.name}} (+{{this.code}})</option>
                    {{/each}}
                  </select>
                </span>
                <input class="pf__contact-me-info-contactee" id="contactPhone" type="text"
                  placeholder="xxx xxx xxxx">
              </div>
            </div>
            <div class="pf__contact-me-info-pref">
              <h4>Preferred Method of Contact?*</h4>
              <div class="pf__contact-me-info-pref--input-group">
                <span>
                  <input type="radio" name="contact-type" value="email"> E-mail
                </span>
                <span>
                  <input type="radio" name="contact-type" value="phone"> Phone
                </span>
                <span>
                  <input type="radio" name="contact-type" value="either"> Either
                </span>
              </div>
            </div>
            <div class="pf__contact-me-info-mess">
              <h4>Your Message:*</h4>
              <textarea class="messagetxt" id="contactMessage"></textarea>
            </div>
            <div class="pf__contact-me-info-submit">
              <input class="mk__submit mk__btn-lg" type="submit" value="Submit">
            </div>
          </div>
        </section>

      </div>
    </div>

  </div>

  {{>connect}}
  {{>footer}} 
  {{>contactErrorModal}}