{{>navPanel}}

{{!-- {{>scrapertitle}} --}}
<div class="row">
  <div class="container">
    <h3 id = 'newestHeader'>Recently Scraped Articles</h3>
    {{!-- {{#each results}}
      <div class="panel panel-default ">
        <div class="panel-heading">
            <button class="btn btn-info saveArticle" data-id = "{{id}}">Save Article</button>
        </div>
        <div class="panel-body">
            <h2 ><a id = "{{id}}" href = "https://www.bbc.com{{this.link}}" class = "articleDisplay" target = "_blank">{{this.title}}</a></h2>
        </div>
      </div>
    {{/each}} --}}
  </div>
</div>



