{{>navPanel}} {{!-- {{>scrapertitle}} --}}
{{!-- <div class="row"> --}}
  <div class="mainbody">
      <div class="maincontent">
        <!-- ABOUT ME -->
        <div class="row">
          <div class="col-md-12">
            <h3> About Me </h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <img id="headshot" src="./assets/images/Headshot.jpg" alt="Headshot: Michael K. Kallgren">
          </div>

          <div class="col-sm-12 col-md-6">
            <p>
              My entire life I’ve made things to help others using music, carpentry, hard sciences, and robotics. This background means
              I think outside the box - seeing solutions others don’t. My approach combined with my passion for learning
              new skills and passions for learning and finding creative solutions is what makes web development a professionally
              good fit.
            </p>
          </div>
        </div>
      </div>

      {{>connect}}

  </div>
{{!-- </div> --}}

 {{>footer}}