
{{>navPanel}} {{!-- {{>scrapertitle}} --}} {{!--
<div class="row"> --}}
  <div class="">
    <div class="maincontent">
      <!-- ABOUT ME -->
        <div class= "pageBackground">
          <div class="pageBckgrndOverlay">

          </div>
        </div>
      </div>
    </div>

    {{>connect}}

  </div>
  {{!-- </div> --}} {{>footer}}