{{>navPanel}} {{!-- {{>scrapertitle}} --}} {{!--
<div class="row"> --}}
  <div class="mainbody">
    <div class="maincontent">
      <!-- ABOUT ME -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> About Me<span id = "about-me-name" class = "hide">- Michael Kallgren</span></h3>
        </div>


        <div class="panel-body">
          <div id="headshot-and-bio-wrapper">
            <img id="headshot" src="./assets/images/Headshot.jpg" alt="Headshot: Michael K. Kallgren">

            <div id="bio">
              <p id = "bio-p1">
                It's hard for me to summarize myself because I've spent so much time thinking and living outside the box. Since a young age
                I have been encouraged to study, tinker with, and try anything - which has led down a diverse educational
                and personal path. I suppose the best way to start a journey is with a single step, so let's start with my
                most recent experience: <a id = "readmore1" class= "read-amount" href="#"> Read More </a>
              </p>
              <hr>
              <p id = "bio-p2">
                 I recently graduated from UNC Charlotte's Full-Stack Web Development Bootcamp , an intensive 12-week boot
                camp dedicated to designing and building web applications. The curriculum has covered HTML5, CSS3, Javascript,
                Bootstrap, Node JS, MySQL, Sequelize, MongoDB, Mongoose, Git and Git Bash, Express, Handlebars, and React.Js.
                I've found that web development is an exciting field for me because it lets me build things in ways I had
                never thought to before. <a id = "readmore2" class= "read-amount" href="#"> Read More</a>
              </p>
              <p id = "bio-rest" class = "hide">
                <br> <br> I also attended Cornell University where I earned a Masters of Engineering in Materials Science and Engineering.
                I worked in the Giannelis Research Group on synthesizing green materials for super-capacitor electrodes and
                developing measurement techniques to assess their electronic properties.
                <br> <br> I am also an American citizen who grew up in The Netherlands, making me a classic Adult Third Culture Kid.
                Being raised overseas has given me a keen insight into dealing with people from different cultures and makes
                it easy for me to adapt to new environments - physical, mental, and professional - quickly.
                <br> <br> I prefer to take an interdisciplinary approach to problem solving and enjoy absorbing information from many
                fields- for example, my bachelors degree is in Vocal Music, but I did extensive collegiate work in materials
                chemistry. Once, when faced with a process problem in the lab, I was inspired by some of the harmonic structures
                of 20th century composers and was able to create a novel and effective solution to the method of synthesis.
                This instilled a drive in me to seek out novel ways of adapting and morphing current technology into new
                and innovative solutions. <a id = "readless1" class= "read-amount" href="#"> Read Less</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

    {{>connect}}

  </div>
  {{!-- </div> --}} {{>footer}}