@import './variables.scss';


// HTML NORMALIZATION
button, input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

// BUTTONS
.mk__btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

// CONTENT/ITEM ALIGNMENT
@mixin alignment($direction,$align1,$align2){
  display: flex;
  flex-direction: $direction;
  justify-content: $align1;
  align-items: $align2;
}

.mk__centered-row{
  @include alignment(row,center,center)
}

.mk__centered-row--vertical-justify{
  @include alignment(row,center,space-between)
}

.mk__centered-col{
  @include alignment(column,center,center)
}



// CONTAINERS
.container-fluid{
  margin-right: auto;
  margin-left: auto;
}

// PANELS 
.mk__panel{
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #000;
  border-radius: 4px;
  box-sizing: border-box;

    &.mk__panel-default{
      border-color: #ddd;
    }

    &.mk__panel-warning{
      border-color: #c00
    }

    .mk__panel-heading {
      color: $darkgrey;
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      
      .mk__panel-title {
        border-bottom: 2px solid #999;
        font-size: $fontsize-lg*1px;
        line-height: $fontsize-lg*1.2px;
        padding-bottom: 10px;
        margin: 0px auto;
      }

    }

    .mk__panel-body{
      padding: 15px;
    }
}

// HEADERS AND FOOTERS
@mixin bottom(){
  bottom: 0;
  margin-bottom: 0;
}

@mixin right(){
  right:0
}

@mixin left(){
  left:0
}

.mk__footer-fixed{
  position: fixed;
  right: 0;
  left: 0;
  @include bottom();
  z-index: 1030;
}


// FORMS AND FORM ELEMENTS
.mk__submit{
  @media screen and (max-width: 1200px){
    margin-top: 2%;
  }
}

// INPUTS AND INPUT GROUPS
.mk__input-group{
  position: relative;
  display: flex;

    .mk__input-group-addon-info{
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: $shalegrey;
      text-align: center;
      background-color: $mistgrey;
      border: 1px solid $ghostgrey;
      border-radius: 4px;
    }

    .mk__addon--left{
      border-right: 0;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .mk__input-group-addon-dropdown{
      width: 20px;
      
      select{
        width: 100%;
        height: 100%;
        background-color: $mistgrey;
        border: 1px solid $ghostgrey;
        border-left: none;
        border-right: none;
      }
    }

    .mk__addon-dropdown--left{
      select{
        border-left: none;
      }
    }
  
}

.mk__input-group--left{
  input{
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important;
  }
}