// COLORS
// Black and White
$black: #000000;
$white: #ffffff;

//Greys
$gunmetalgrey: #222;
$darkgrey: #333;
$shalegrey: #444;
$grey: #666;
$lightgrey: #999;
$ghostgrey: #bbb;
$mistgrey: #ddd;

//Blues
$navyblue: #0000b0;

//Cyans
$cyan: #00ffff; // aka aqua
// $aquamarine: 

//Reds
$darkred: #8b0000;
$crimson: #dc143c;
$alizarin-crimson: #e32636;
$chesnut: #cd5c5c; //dusty red or indian red
$redorange: #ff4500;
$redrose: #ff033e;
$amaranth: #e52b50;
$awesome: #ff2052;
$deepred: #cc0000;
$brickred: #cb4154;
$cgred: #e03c31;
$cadmiumred: #e30022;
$candyapple: #ff0800;
$cardinal: #c41e3a;
$carmine: #ff0040;
$coralred: #ff4040;
$cornellred: #b31b1b;
$debianred: #d70a53;
$electriccrimson: #ff003f;
$ferarrired: #ff2800;
$fireenginered: #ce2029;
$firebrick: #b22222;
$persianred: #cc3333;
$rossocorsa: #d40000;
$scarlet: #ff2400;
$stizza: #990000;
