@import './general_colors.scss';

@mixin background($color-base,$color-set1,$color-set2) {
  background: $color-base;
  background: -moz-linear-gradient($color-set1);
	background: -webkit-gradient($color-set2);
	background: -webkit-linear-gradient($color-set1);
	background: -o-linear-gradient($color-set1);
	background: -ms-linear-gradient($color-set1); 
	background: linear-gradient($color-set1);
	// filter: progid:DXImageTransform.Microsoft.gradient($filter);
}

@mixin darkblue (){
  @include background($darkblue-base,$darkblue-set1,$darkblue-set2)
}

@mixin midblue (){
  @include background($midblue-base,$midblue-set1,$midblue-set2)
}



@mixin skyblue(){
  @include background($skyblue-base,$skyblue-set1,$skyblue-set2);
}

@mixin skyblue2(){
  @include background($skyblue2-base,$skyblue2-set1,$skyblue2-set2);
}



@mixin gold(){
  @include background($gold-base,$gold-set1,$gold-set2);
}

@mixin gold2(){
  @include background($gold2-base,$gold2-set1,$gold2-set2);
}

//LightGrey Background Variables
$lightgrey-base: #e2e2e2;
$lightgrey-set1: 45deg, #e2e2e2 0%, #c2c2c2 100%;
$lightgrey-set2: left bottom, right top, color-stop(0%, #e2e2e2),color-stop(100%,#c2c2c2);

@mixin lightgrey(){
  @include background($lightgrey-base, $lightgrey-set1, $lightgrey-set2);
}

$mistgrey-base: #f5f5f5;
$mistgrey-set1: 45deg, #f5f5f5 0%, #e8e8e8 100%;
$mistgrey-set2: left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e8e8e8);

@mixin mistgrey(){
  @include background($mistgrey-base, $mistgrey-set1, $mistgrey-set2)
}
//DarkGrey Background Variables
$darkgrey-base: #7a7a7a;
$darkgrey-set1: 45deg, #7a7a7a 0%, #b9b9b9 100%;
$darkgrey-set2: left bottom, right top, color-stop(0%, #7a7a7a),color-stop(100%,#b9b9b9);

@mixin darkgrey(){
  @include background($darkgrey-base, $darkgrey-set1, $darkgrey-set2);
}
