// Note: for a basic number that needs to have a unit appended to it (i.e 
// variable = 15, needs to be written in 15px), multiply the number by 1 and 
// the final unit, ie. 15 * 1px = 15px.

@import './general_colors.scss';

// Media Breakpoints
$breakpoint-lg: 1200px;
$breakpoint-md: 846px;
$breakpoint-sm: 675px;
$breakpoint-xs: 550px;
$breakpoint-min: 370px;

//FONTS
$philospher: 'Philosopher', sans-serif;

// FONT SIZES
$fontsize-std: 15;
$fontsize-lg: 20;

//TYPESETS (Line heights)
$typeset-sm: 1.1;
$typeset-med: 1.2;
$typeset-lg: 1.3;
$typeset-xl: 1.4;

//FONT WEIGHTS
$weight-light: 100;
$weight-norm: 400;
$weight-bold: 700;

// GENERAL SIZES - GUTTERS, RADII, ETC
$size-xxs: 1;
$size-xs: 5;
$size-sm: 10;
$size-md: 15;
$size-lg: 20;
$size-xl: 25;
$size-xxl: 30;

// GRID SIZES
$no-dimension: 0;
$skinny-third: 30;
$one-third: 33;
$two-thirds: 67;
$quarter: 25;
$half: 50;
$full: 100;

// Z_INDECES

