@import '../../_config/config.scss';

// $comp-id stands for 'component id'
$comp-id: pf__connect-panel;

.#{$comp-id}-wrapper{
  width: 100%;
  display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10px auto 10px;
	max-height: 150px;
	grid-template-areas: 
		". . ."
		". connect-panel ."
		". . .";
  grid-area: connectcontent;
  @media screen and (max-width: $breakpoint-lg){
    grid-template-columns: 0% 100% 0%;
  }
  .#{$comp-id}{
    grid-area: connect-panel;

    .#{$comp-id}-title{
      @include font-Philosopher();
    }

    .#{$comp-id}-body{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "icon-wrapper"; 

      .#{$comp-id}-icon-wrapper{
        display: grid;
        grid-template-columns: auto $skinny-third*1% $skinny-third*1% $skinny-third*1% auto;
        grid-template-rows: $size-xs*1px auto $size-xs*1px;
        grid-template-areas: 
          ". . . . ."
          ". gitLink linkedInLink stackLink ."
          ". . . . .";
        grid-area: icon-wrapper;
        justify-items: center;
        .#{$comp-id}-icon--gitLink{
          grid-area: gitLink;
        }
        .#{$comp-id}-icon--linkedInLink{
          grid-area: linkedInLink;
        }
        .#{$comp-id}-icon--stackLink{
          grid-area: stackLink;
        }
      }
    }
  }
}

.#{$comp-id}-icon{
  height: $size-xxl*1.5px;
  width: $size-xxl*1.5px;
  @include border-light($size-xxs*1px,$size-xs*1px);
  @include raised()

}