/* body, html{
	height: auto;
	width: auto;
	min-width: 370px;
} */

/* body{
	// background: #723511; For browsers that do not support gradients
	background-size: cover;
	padding-bottom: 85px; 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
} */

/*div{
	border: dotted black 1px;
}*/

h1{
	text-align: center;

}

hr {
	border-top: 1px solid #777;
}

.background-darkblue{
	background: rgba(32,0,77,1);
	background: -moz-linear-gradient(45deg, rgba(32,0,77,1) 0%, rgba(29,0,117,1) 32%, rgba(2,0,133,1) 57%, rgba(29,24,161,1) 79%, rgba(9,37,219,1) 96%, rgba(9,37,219,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(32,0,77,1)), color-stop(32%, rgba(29,0,117,1)), color-stop(57%, rgba(2,0,133,1)), color-stop(79%, rgba(29,24,161,1)), color-stop(96%, rgba(9,37,219,1)), color-stop(100%, rgba(9,37,219,1)));
	background: -webkit-linear-gradient(45deg, rgba(32,0,77,1) 0%, rgba(29,0,117,1) 32%, rgba(2,0,133,1) 57%, rgba(29,24,161,1) 79%, rgba(9,37,219,1) 96%, rgba(9,37,219,1) 100%);
	background: -o-linear-gradient(45deg, rgba(32,0,77,1) 0%, rgba(29,0,117,1) 32%, rgba(2,0,133,1) 57%, rgba(29,24,161,1) 79%, rgba(9,37,219,1) 96%, rgba(9,37,219,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(32,0,77,1) 0%, rgba(29,0,117,1) 32%, rgba(2,0,133,1) 57%, rgba(29,24,161,1) 79%, rgba(9,37,219,1) 96%, rgba(9,37,219,1) 100%);
	background: linear-gradient(45deg, rgba(32,0,77,1) 0%, rgba(29,0,117,1) 32%, rgba(2,0,133,1) 57%, rgba(29,24,161,1) 79%, rgba(9,37,219,1) 96%, rgba(9,37,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20004d', endColorstr='#0925db', GradientType=1 );
}

.background-midblue{
	background: rgba(33,111,163,1);
background: -moz-linear-gradient(45deg, rgba(33,111,163,1) 0%, rgba(36,123,181,1) 31%, rgba(8,135,209,1) 54%, rgba(17,158,240,1) 71%, rgba(101,179,230,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(33,111,163,1)), color-stop(31%, rgba(36,123,181,1)), color-stop(54%, rgba(8,135,209,1)), color-stop(71%, rgba(17,158,240,1)), color-stop(100%, rgba(101,179,230,1)));
background: -webkit-linear-gradient(45deg, rgba(33,111,163,1) 0%, rgba(36,123,181,1) 31%, rgba(8,135,209,1) 54%, rgba(17,158,240,1) 71%, rgba(101,179,230,1) 100%);
background: -o-linear-gradient(45deg, rgba(33,111,163,1) 0%, rgba(36,123,181,1) 31%, rgba(8,135,209,1) 54%, rgba(17,158,240,1) 71%, rgba(101,179,230,1) 100%);
background: -ms-linear-gradient(45deg, rgba(33,111,163,1) 0%, rgba(36,123,181,1) 31%, rgba(8,135,209,1) 54%, rgba(17,158,240,1) 71%, rgba(101,179,230,1) 100%);
}

.background-skyblue2{
	background: rgba(133,166,209,1);
	background: -moz-linear-gradient(45deg, rgba(133,166,209,1) 0%, rgba(150,200,235,1) 32%, rgba(127,221,240,1) 57%, rgba(167,229,244,1) 79%, rgba(227,254,255,1) 96%, rgba(227,254,255,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(133,166,209,1)), color-stop(32%, rgba(150,200,235,1)), color-stop(57%, rgba(127,221,240,1)), color-stop(79%, rgba(167,229,244,1)), color-stop(96%, rgba(227,254,255,1)), color-stop(100%, rgba(227,254,255,1)));
	background: -webkit-linear-gradient(45deg, rgba(133,166,209,1) 0%, rgba(150,200,235,1) 32%, rgba(127,221,240,1) 57%, rgba(167,229,244,1) 79%, rgba(227,254,255,1) 96%, rgba(227,254,255,1) 100%);
	background: -o-linear-gradient(45deg, rgba(133,166,209,1) 0%, rgba(150,200,235,1) 32%, rgba(127,221,240,1) 57%, rgba(167,229,244,1) 79%, rgba(227,254,255,1) 96%, rgba(227,254,255,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(133,166,209,1) 0%, rgba(150,200,235,1) 32%, rgba(127,221,240,1) 57%, rgba(167,229,244,1) 79%, rgba(227,254,255,1) 96%, rgba(227,254,255,1) 100%);
	background: linear-gradient(45deg, rgba(133,166,209,1) 0%, rgba(150,200,235,1) 32%, rgba(127,221,240,1) 57%, rgba(167,229,244,1) 79%, rgba(227,254,255,1) 96%, rgba(227,254,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85a6d1', endColorstr='#e3feff', GradientType=1 );
}

.background-skyblue{
	background: rgba(32,172,214,1);
background: -moz-linear-gradient(45deg, rgba(32,172,214,1) 0%, rgba(32,172,214,1) 16%, rgba(0,197,232,1) 32%, rgba(112,222,255,1) 61%, rgba(130,226,255,1) 81%, rgba(178,243,255,1) 95%, rgba(178,243,255,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(32,172,214,1)), color-stop(16%, rgba(32,172,214,1)), color-stop(32%, rgba(0,197,232,1)), color-stop(61%, rgba(112,222,255,1)), color-stop(81%, rgba(130,226,255,1)), color-stop(95%, rgba(178,243,255,1)), color-stop(100%, rgba(178,243,255,1)));
background: -webkit-linear-gradient(45deg, rgba(32,172,214,1) 0%, rgba(32,172,214,1) 16%, rgba(0,197,232,1) 32%, rgba(112,222,255,1) 61%, rgba(130,226,255,1) 81%, rgba(178,243,255,1) 95%, rgba(178,243,255,1) 100%);
background: -o-linear-gradient(45deg, rgba(32,172,214,1) 0%, rgba(32,172,214,1) 16%, rgba(0,197,232,1) 32%, rgba(112,222,255,1) 61%, rgba(130,226,255,1) 81%, rgba(178,243,255,1) 95%, rgba(178,243,255,1) 100%);
background: -ms-linear-gradient(45deg, rgba(32,172,214,1) 0%, rgba(32,172,214,1) 16%, rgba(0,197,232,1) 32%, rgba(112,222,255,1) 61%, rgba(130,226,255,1) 81%, rgba(178,243,255,1) 95%, rgba(178,243,255,1) 100%);
background: linear-gradient(45deg, rgba(32,172,214,1) 0%, rgba(32,172,214,1) 16%, rgba(0,197,232,1) 32%, rgba(112,222,255,1) 61%, rgba(130,226,255,1) 81%, rgba(178,243,255,1) 95%, rgba(178,243,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20acd6', endColorstr='#b2f3ff', GradientType=1 );
}


.background-gold{
	background: rgba(207,163,41,1);
	background: -moz-linear-gradient(45deg, rgba(207,163,41,1) 0%, rgba(237,188,52,1) 23%, rgba(240,190,40,1) 52%, rgba(247,214,46,1) 71%, rgba(255,236,204,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(207,163,41,1)), color-stop(23%, rgba(237,188,52,1)), color-stop(52%, rgba(240,190,40,1)), color-stop(71%, rgba(247,214,46,1)), color-stop(100%, rgba(255,236,204,1)));
	background: -webkit-linear-gradient(45deg, rgba(207,163,41,1) 0%, rgba(237,188,52,1) 23%, rgba(240,190,40,1) 52%, rgba(247,214,46,1) 71%, rgba(255,236,204,1) 100%);
	background: -o-linear-gradient(45deg, rgba(207,163,41,1) 0%, rgba(237,188,52,1) 23%, rgba(240,190,40,1) 52%, rgba(247,214,46,1) 71%, rgba(255,236,204,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(207,163,41,1) 0%, rgba(237,188,52,1) 23%, rgba(240,190,40,1) 52%, rgba(247,214,46,1) 71%, rgba(255,236,204,1) 100%);
	background: linear-gradient(45deg, rgba(207,163,41,1) 0%, rgba(237,188,52,1) 23%, rgba(240,190,40,1) 52%, rgba(247,214,46,1) 71%, rgba(255,236,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa329', endColorstr='#ffeccc', GradientType=1 );
}

.background-gold2{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dfb06c+0,dcad69+4,dfb06c+11,e6b773+12,e5b672+13,edbe7a+15,f1c27e+19,f2c37f+20,f3c480+25,efc27e+27,ecc17c+31,f3cb85+33,f4c984+33,efc47f+34,eec37e+35,f5ca85+37,f7cc87+41,f5cd88+45,fed593+46,fdd492+46,fcd594+48,f8d190+49,fad591+53,f9d490+54,ffdc98+58,ffdb97+60,ffdf9a+64,fbdd97+66,fadc96+70,fadc94+76,fbdd97+78,f8d996+79,ffdd9e+82,feda9c+83,fcd89a+86,feda9c+90,fdd99b+95,ffdc9e+97,fbd799+99,f9da99+100 */
background: rgb(223,176,108); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(223,176,108,1) 0%, rgba(220,173,105,1) 4%, rgba(223,176,108,1) 11%, rgba(230,183,115,1) 12%, rgba(229,182,114,1) 13%, rgba(237,190,122,1) 15%, rgba(241,194,126,1) 19%, rgba(242,195,127,1) 20%, rgba(243,196,128,1) 25%, rgba(239,194,126,1) 27%, rgba(236,193,124,1) 31%, rgba(243,203,133,1) 33%, rgba(244,201,132,1) 33%, rgba(239,196,127,1) 34%, rgba(238,195,126,1) 35%, rgba(245,202,133,1) 37%, rgba(247,204,135,1) 41%, rgba(245,205,136,1) 45%, rgba(254,213,147,1) 46%, rgba(253,212,146,1) 46%, rgba(252,213,148,1) 48%, rgba(248,209,144,1) 49%, rgba(250,213,145,1) 53%, rgba(249,212,144,1) 54%, rgba(255,220,152,1) 58%, rgba(255,219,151,1) 60%, rgba(255,223,154,1) 64%, rgba(251,221,151,1) 66%, rgba(250,220,150,1) 70%, rgba(250,220,148,1) 76%, rgba(251,221,151,1) 78%, rgba(248,217,150,1) 79%, rgba(255,221,158,1) 82%, rgba(254,218,156,1) 83%, rgba(252,216,154,1) 86%, rgba(254,218,156,1) 90%, rgba(253,217,155,1) 95%, rgba(255,220,158,1) 97%, rgba(251,215,153,1) 99%, rgba(249,218,153,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(223,176,108,1) 0%,rgba(220,173,105,1) 4%,rgba(223,176,108,1) 11%,rgba(230,183,115,1) 12%,rgba(229,182,114,1) 13%,rgba(237,190,122,1) 15%,rgba(241,194,126,1) 19%,rgba(242,195,127,1) 20%,rgba(243,196,128,1) 25%,rgba(239,194,126,1) 27%,rgba(236,193,124,1) 31%,rgba(243,203,133,1) 33%,rgba(244,201,132,1) 33%,rgba(239,196,127,1) 34%,rgba(238,195,126,1) 35%,rgba(245,202,133,1) 37%,rgba(247,204,135,1) 41%,rgba(245,205,136,1) 45%,rgba(254,213,147,1) 46%,rgba(253,212,146,1) 46%,rgba(252,213,148,1) 48%,rgba(248,209,144,1) 49%,rgba(250,213,145,1) 53%,rgba(249,212,144,1) 54%,rgba(255,220,152,1) 58%,rgba(255,219,151,1) 60%,rgba(255,223,154,1) 64%,rgba(251,221,151,1) 66%,rgba(250,220,150,1) 70%,rgba(250,220,148,1) 76%,rgba(251,221,151,1) 78%,rgba(248,217,150,1) 79%,rgba(255,221,158,1) 82%,rgba(254,218,156,1) 83%,rgba(252,216,154,1) 86%,rgba(254,218,156,1) 90%,rgba(253,217,155,1) 95%,rgba(255,220,158,1) 97%,rgba(251,215,153,1) 99%,rgba(249,218,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(223,176,108,1) 0%,rgba(220,173,105,1) 4%,rgba(223,176,108,1) 11%,rgba(230,183,115,1) 12%,rgba(229,182,114,1) 13%,rgba(237,190,122,1) 15%,rgba(241,194,126,1) 19%,rgba(242,195,127,1) 20%,rgba(243,196,128,1) 25%,rgba(239,194,126,1) 27%,rgba(236,193,124,1) 31%,rgba(243,203,133,1) 33%,rgba(244,201,132,1) 33%,rgba(239,196,127,1) 34%,rgba(238,195,126,1) 35%,rgba(245,202,133,1) 37%,rgba(247,204,135,1) 41%,rgba(245,205,136,1) 45%,rgba(254,213,147,1) 46%,rgba(253,212,146,1) 46%,rgba(252,213,148,1) 48%,rgba(248,209,144,1) 49%,rgba(250,213,145,1) 53%,rgba(249,212,144,1) 54%,rgba(255,220,152,1) 58%,rgba(255,219,151,1) 60%,rgba(255,223,154,1) 64%,rgba(251,221,151,1) 66%,rgba(250,220,150,1) 70%,rgba(250,220,148,1) 76%,rgba(251,221,151,1) 78%,rgba(248,217,150,1) 79%,rgba(255,221,158,1) 82%,rgba(254,218,156,1) 83%,rgba(252,216,154,1) 86%,rgba(254,218,156,1) 90%,rgba(253,217,155,1) 95%,rgba(255,220,158,1) 97%,rgba(251,215,153,1) 99%,rgba(249,218,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfb06c', endColorstr='#f9da99',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* #bio{
	grid-area: bio;
} */

#bio-rest{
	display: none;
}

.centered{
  display: flex;
  justify-content: center;
}

/* #connect-panel{	
	grid-area: connect-panel;
} */

/* .connect-panel{
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 70px;
	max-width: 75%;
} */

.connect-panel-body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "icon-wrapper"; 
}




/* .connect-panel-wrapper{
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10px auto 10px;
	max-height: 150px;
	grid-template-areas: 
		". . ."
		". connect-panel ."
		". . .";
	grid-area: connectcontent;
} */

/* #contactForm{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 100%;
} */

/* #contactPhone{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
} */

/* .contact-submit{
	margin-top: 45%;
	align-self: end;
} */

/* .contactee{
	width: 80%;
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
} */

.container-fluid{
	padding-right:0px;
	padding-left:0px;
}

.content-wrapper{
    border: 1px #222222 solid;
}

.copyright{
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

#countryCodes{
	max-width: 43%;
	min-width: 126px;
	margin: 1% 10.75% 0% 0%;
}

/* .footer.navbar{
	border: 3px solid #9c501a;
	background: #ff6f1c;
	height: auto;

} */

.footer{
	border: 1px solid #9c501a;
	background-image: url("../images/br_gold_large.jpg");
	background-repeat: repeat-x;
	vertical-align: middle;
	line-height: 40px;
	font-size: 18px;
	height: 40px;
	/* background-size: 100%; */
}



.header{
	padding: 0% 5%;
	display:grid;
	grid-template-columns: 30px 60% auto 30% 30px;
	grid-template-rows: 10px auto;
	grid-template-areas: 
		". . . . ."
		". namelogo . nav-tabs .";

	border-bottom: 2px groove navy;
}

#headshot-and-bio-wrapper{
	display: grid;
	grid-template-columns: 33% 67%;
	grid-template-rows: auto;
	grid-template-areas: 
		"headshot bio";
	justify-items: center;
}

/* #headshot{
	width: 96%;
	height: auto;
	margin-bottom: 1%;
	margin-right: 1%;
	grid-area: headshot;
	justify-self: start;
} */

#headshot-icon{
	width: 75px;
	display: none;
	height: auto;
	border-radius: 37px;
}

/* .hide{
	display: none;
} */

/* .icon {
	height: 45px;
	width: 45px;
	border: #cccccc 1px solid;
	border-radius: 3px;
	//margin: 10px 10px 0px 10px;
	//box-shadow: 2px 2px 2px rgba(110,110,110,0.4);
} */

/* .icons{
	display: grid;
	grid-template-columns: auto 30% 30% 30% auto;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". gitLink linkedInLink stackLink ."
		". . . . .";
	grid-area: icon-wrapper;
	justify-items: center;
} */
/* 
#gitLink{
	grid-area: gitLink;
}
#linkedInLink{
	grid-area: linkedInLink;
}
#stackLink{
	grid-area: stackLink;
} */

/* .iconlnk{
	float:left;
	width:33%;
} */



/* .mainbody{
    background-image: url("./../images/oeschinenzee.png");
	background-size: 100% 100%;
	background-attachment: fixed;
	
	border: 8px groove grey;
	border-top: none;
	//border-top: 4px #444444 solid;
	height: fit-content;
	margin: 0px 5%;
	display: grid;
	grid-template-columns: 30px 60% auto 30% 30px;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". maincontent . connectcontent ."
		". . . . .";

} */

.maincontent{
	margin: 10px 15px 50px 15px;
	padding: 10px;
	background-color: #ebebeb;
	border-radius: 5px;
	border: solid 1px #5c5c5c;
	grid-area: maincontent;
}

/* .messagetxt{
	width: 95%;
	max-width: 100%;
	min-width: 50%;
	min-height: 4.5em;
	height: 125px;
} */

/* .namelogo{
	grid-area: namelogo;
	margin-bottom: 15px;
	padding: 0.5% 5%;
	font-weight: bolder; */
	/* text-shadow: -1px 1px #504D4D; */
	/* border: 2px solid #333333;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	justify-items: center;

} */

#nameplate{
	text-align: center;
	font-size: 30px;
	margin: 0% 10%;
}

.namelogo, #initialplate, .panel-title, .nav-label-txt{
	font-family: 'Philosopher', sans-serif;
}

#initialplate{
	display: none;
	font-size: 40px;
}

.nav-label{
	display: inline-block;
	width: 32%;
	height: 35px;
	/* background-image: url("./../images/br_nickel.png"); */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #e2e2e2 0%,#c2c2c2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #e2e2e2 0%,#c2c2c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c2c2c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 3px outset #666462;
	border-bottom: none;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}

.nav-label>a{
	color: #080808;
    border-bottom: transparent;
	margin-right: 1px;
	margin-left: 2px;
	font-weight: bold;
}

.nav-label-txt{
	margin-top: 3px;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.nav-tabs{
	grid-area: nav-tabs;
	font-size:18px;
	align-self: end;
	border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #999999;
	background-image: url("./../images/br_copper2.jpg");
    border: 1px solid #8f4a00;
    border-bottom: transparent;
    margin-right: 0px;
	font-weight: bold;
}

/* .nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	color: beige;
	background-color: transparent;
	border: 2px solid #9eaeb5;
	border-bottom: transparent;
	margin-right: 0px;
	font-weight: bold;
} */

.navbar{
	margin-bottom: 0px;
	/* background-color: #ebebeb; */
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 0px;
}

/* .navRow.row{
	margin-left: 0vw;
	margin-right: 0vw;
} */

/* .navtabs{
	margin: 0px auto;
} */

/* .nav-wrap{
	width: 100%;
	background-color: #888888;

} */


#page-nav{
	max-width: 500px;
}

.panel{
	border: 1px solid black;
}

.panel-title{
	border-bottom: 2px solid #999;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 10px;
}

/* .row{
	margin-right: 0px;
} */

.raised{
	box-shadow: 0px 4px 4px rgba(110,110,110,0.4), 4px 4px 4px #444444
}

.raised-light{
	box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.4), 4px 4px 4px  rgba(177, 177, 177, 0.836)
}

#readmore1{
	display: none;
}

/* Do not change these when updating to Sass! */
.show{
	display: block;
}

.show-inline{
	display: inline-block;
}

.topfill{
	height: 50px;
	width: 98%
}

/* @media screen and (max-width: 1003px){
	.contact-submit{
		margin-top: 2%;
		margin-bottom:5%;
	}

	.navtabs{
		margin-left: 3%;
	}


} */
@media screen and (max-width: 1200px){
	.contact-submit{
		margin-top: 2%;
	}

	/* .mainbody{
		display:grid;
		grid-template-columns: auto 95% auto;
		grid-template-rows: 5px auto auto 30px;
		grid-template-areas: 
			". . ."
			". maincontent ."
			". connectcontent ."
			". . .";
	
	} */

	.header{
		grid-template-columns: 30px auto 30px;
		grid-template-rows: 10px auto auto;
		grid-template-areas: 
			". . ."
			". namelogo . "
			". nav-tabs .";
	}


};


@media screen and (max-width: 846px){
	#headshot-and-bio-wrapper{
		display: grid;
		grid-template-columns: 5px auto 5px;
		grid-template-rows: 33% 67%;
		grid-template-areas: 
			". headshot ."
			". bio .";
	}
}

/* @media screen and (max-width: 660px){
	#bio-p2{
		display: none;
	}

	#readmore1{
		display: inline-block;
	}

	#readmore2{
		display: none
	}
} */

@media screen and (max-width:550px){
	#about-me-name{
		display: inline-block;
	}
	
	#headshot-and-bio-wrapper{
		display: grid;
		grid-template-columns: 5px auto 5px;
		grid-template-rows:  auto;
		grid-template-areas: 
			". bio .";
	}

	.namelogo{
		display:grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas: "name icon-block";
		justify-items: center;
	}

	#headshot{
		display: none;
	}

	#headshot-icon{
		grid-area: icon-block;
		display: inline-block;
	}

	#initialplate{
		grid-area: name;
		align-self: center;
		display: inline-block;
	}

	#nameplate{
		display: none;
	}
}