body, html{
	height: auto;
	width: auto;
	min-width: 370px;
}

body{
	/* background: #723511; For browsers that do not support gradients */
	background: #e2c2b0; /* Old browsers */
	background: -moz-linear-gradient(top, #e2c2b0 0%, #613115 0%, #764326 50%, #ac7d62 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2c2b0 0%,#613115 0%,#764326 50%,#ac7d62 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2c2b0 0%,#613115 0%,#764326 50%,#ac7d62 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2c2b0', endColorstr='#ac7d62',GradientType=0 ); /* IE6-9 */
	background-size: cover;
	padding-bottom: 85px; 
}

/*div{
	border: dotted black 1px;
}*/

h1{
	text-align: center;

}

hr {
	border-top: 1px solid #777;
}

#about-me-name{
	display: hidden;
}

.banner{
	/* background-color: #ebebeb; */
	background: transparent;
	margin-bottom: 0px;
}

#bio{
	grid-area: bio;
}

#bio-rest{
	display: none;
}

#connect-panel{	
	grid-area: connect-panel;
}

/* .connect-panel{
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 70px;
	max-width: 75%;
} */

.connect-panel-body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "icon-wrapper"; 
}




.connect-panel-wrapper{
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10px auto 10px;
	max-height: 150px;
	grid-template-areas: 
		". . ."
		". connect-panel ."
		". . .";
	grid-area: connectcontent;
}

#contactForm{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 100%;
}

#contactPhone{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.contact-submit{
	margin-top: 45%;
}

.contactee{
	width: 80%;
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
}

.container-fluid{
	padding-right:0px;
	padding-left:0px;
}

.content-wrapper{
    border: 1px #222222 solid;
}

.copyright{
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

#countryCodes{
	max-width: 43%;
	margin: 1% 10.75% 0% 10.75%;
}

.desc{
	text-align: center;
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	position: absolute;
	width: 85%;
	border-width: 2px 2px 2px .5px;
	border-color: #9c501a;
	border-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	bottom: 50px;
	z-index: 1;
}

/* .footer.navbar{
	border: 3px solid #9c501a;
	background: #ff6f1c;
	height: auto;

} */

.footer{
	border: 1px solid #9c501a;
	background-image: url("../images/br_copper2.jpg");
	line-height: 14px;
	font-size: 12px;
	height: 20px;
	background-size: 100%;
}

.gitlink{
	color: rgb(29, 29, 29)
}

.header{
	padding: 0% 5%;
	display:grid;
	grid-template-columns: 30px 60% auto 30% 30px;
	grid-template-rows: 10px auto;
	grid-template-areas: 
		". . . . ."
		". namelogo . nav-tabs .";
	background: linear-gradient(to right, rgba(110,110,110,0.85), rgba(125,125,125,1)); 
}

#headshot-and-bio-wrapper{
	display: grid;
	grid-template-columns: 33% 67%;
	grid-template-rows: auto;
	grid-template-areas: 
		"headshot bio";
	justify-items: center;
}

#headshot{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	padding-right: 10px;
	grid-area: headshot;
}

#headshot-icon{
	width: 75px;
	display: none;
	height: auto;
	border-radius: 37px;
}

.hide{
	display: none;
}

.icon {
	height: 45px;
	width: 45px;
	/* margin: 10px 10px 0px 10px; */
}

.icons{
	display: grid;
	grid-template-columns: auto 30% 30% 30% auto;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". gitLink linkedInLink stackLink ."
		". . . . .";
	grid-area: icon-wrapper;
	justify-items: center;
}

#gitLink{
	grid-area: gitLink;
}
#linkedInLink{
	grid-area: linkedInLink;
}
#stackLink{
	grid-area: stackLink;
}

/* .iconlnk{
	float:left;
	width:33%;
} */



.mainbody{
    background-image: url("./../images/oeschinenzee.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	border-left: 2px #444444 solid;
	border-right: 2px #444444 solid;
	border-top: 4px #444444 solid;
	height: fit-content;
	margin: 0px 5%;
	display: grid;
	grid-template-columns: 30px 60% auto 30% 30px;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". maincontent . connectcontent ."
		". . . . .";

}

.maincontent{
	margin: 10px 15px 50px 15px;
	background-color: #ebebeb;
	border-radius: 5px;
	border: solid 1px #5c5c5c;
	grid-area: maincontent;
}

.messagetxt{
	width: 95%;
	max-width: 100%;
	min-width: 50%;
	min-height: 4.5em;
	height: 125px;
}

.namelogo{
	grid-area: namelogo;
	margin-bottom: 15px;
	padding: 0.5% 5%;
	/* padding-left: 30px; */
	/* background-image: url("./../images/br_brass.jpg");
	background-size: contain;
	background-repeat:none;
	background-attachment: fixed; */
	background-color: rgba(150, 102, 0, 0.835);
	background: radial-gradient(rgba(150, 102, 0, 0.835), rgba(194, 126, 0, 0.644), rgba(145, 94, 0, 0.514));
	text-shadow: -1px 1px #504D4D;
	border: 2px solid #333333;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	justify-items: center;

}

#nameplate{
	text-align: center;
	font-size: 30px;
	margin: 0% 10%;
}

#initialplate{
	display: none;
	font-size: 40px;
}

.nav-label{
	display: inline-block;
	width: 32%;
	height: 35px;
	background-image: url("./../images/br_nickel.png");
	border: 1px solid #3f3c39;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}

.nav-label>a{
	color: #080808;
    border-bottom: transparent;
	margin-right: 1px;
	margin-left: 2px;
	font-weight: bold;
}

.nav-label-txt{
	margin-top: 3px;
}

.nav-tabs{
	grid-area: nav-tabs;
	/* min-width: 310px;
	max-width: 500px;
	max-width: 50%; */
	font-size:18px;
	align-self: end;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #999999;
	background-image: url("./../images/br_copper2.jpg");
    border: 1px solid #8f4a00;
    border-bottom: transparent;
    margin-right: 0px;
	font-weight: bold;
}

/* .nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	color: beige;
	background-color: transparent;
	border: 2px solid #9eaeb5;
	border-bottom: transparent;
	margin-right: 0px;
	font-weight: bold;
} */

.navbar{
	margin-bottom: 0px;
	/* background-color: #ebebeb; */
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 0px;
}

/* .navRow.row{
	margin-left: 0vw;
	margin-right: 0vw;
} */

/* .navtabs{
	margin: 0px auto;
} */

.nav-wrap{
	width: 100%;
	background-color: #888888;

}


#page-nav{
	max-width: 500px;
}

.panel{
	border: 1px solid black;
}

.panel-title{
	border-bottom: 2px solid #999;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 10px;
}


/* .row{
	margin-right: 0px;
} */

#readmore1{
	display: none;
}

.show{
	display: block;
}

.show-inline{
	display: inline-block;
}

.thumbnail{
	background-image:url("../images/br_brass.jpg");
	background-size: cover;
	border: 1px #333333 solid;
}

.topfill{
	height: 50px;
	width: 98%
}

/* @media screen and (max-width: 1003px){
	.contact-submit{
		margin-top: 2%;
		margin-bottom:5%;
	}

	.navtabs{
		margin-left: 3%;
	}


} */
@media screen and (max-width: 1090px){
	.mainbody{
		display:grid;
		grid-template-columns: auto 95% auto;
		grid-template-rows: 5px auto auto 30px;
		grid-template-areas: 
			". . ."
			". maincontent ."
			". connectcontent ."
			". . .";
	
	}

	.header{
		grid-template-columns: 30px auto 30px;
		grid-template-rows: 10px auto auto;
		grid-template-areas: 
			". . ."
			". namelogo . "
			". nav-tabs .";
	}


};


@media screen and (max-width: 846px){
	#headshot-and-bio-wrapper{
		display: grid;
		grid-template-columns: 5px auto 5px;
		grid-template-rows: 33% 67%;
		grid-template-areas: 
			". headshot ."
			". bio .";
	}
}

@media screen and (max-width: 660px){
	#bio-p2{
		display: none;
	}

	#readmore1{
		display: inline-block;
	}

	#readmore2{
		display: none
	}
}

@media screen and (max-width:550px){
	#about-me-name{
		display: inline-block;
	}
	
	#headshot-and-bio-wrapper{
		display: grid;
		grid-template-columns: 5px auto 5px;
		grid-template-rows:  auto;
		grid-template-areas: 
			". bio .";
	}

	.namelogo{
		display:grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto;
		grid-template-areas: "name icon-block";
		justify-items: center;
	}

	#headshot{
		display: none;
	}

	#headshot-icon{
		grid-area: icon-block;
		display: inline-block;
	}

	#initialplate{
		grid-area: name;
		align-self: center;
		display: inline-block;
	}

	#nameplate{
		display: none;
	}
}