body, html{
	height: 100vh;
	width: auto;
}

body{
	background: #808080; /* For browsers that do not support gradients */
	background-image: url("../images/barnwood-background.jpg");
	background-size: cover;
	padding-bottom: 85px; 
}

/*div{
	border: dotted black 1px;
}*/

h1{
	text-align: center;

}

.banner{
	/* background-color: #ebebeb; */
	background: transparent;
	margin-bottom: 0px;
}

.panel{
	/* margin-top: 11px; */
	border: 1px solid black;
	/* width: 90%; */
	grid-area: connect-panel;
}

/* .connect-panel{
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 70px;
	max-width: 75%;
} */

.connect-panel-body{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "icon-wrapper"; 
}




.connect-panel-wrapper{
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10px auto 10px;
	max-height: 150px;
	grid-template-areas: 
		". . ."
		". connect-panel ."
		". . .";
	grid-area: connectcontent;
}

#contactForm{
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 100%;
}

.contact-submit{
	margin-top: 45%;
}

.contactee{
	width: 80%;
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: left;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 4px;
}

.container-fluid{
	padding-right:0px;
	padding-left:0px;
}

.content-wrapper{
    border: 1px #222222 solid;
}

.copyright{
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

#countryCodes{
	max-width: 43%;
	margin: 1% 10.75% 0% 10.75%;
}

.desc{
	text-align: center;
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	position: absolute;
	width: 85%;
	border-width: 2px 2px 2px .5px;
	border-color: #9c501a;
	border-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	bottom: 50px;
	z-index: 1;
}

/* .footer.navbar{
	border: 3px solid #9c501a;
	background: #ff6f1c;
	height: auto;

} */

.footer{
	border: 1px solid #9c501a;
	background-image: url("../images/br_copper2.jpg");
	line-height: 14px;
	font-size: 12px;
	height: 20px;
	background-size: 100%;
}

.gitlink{
	color: rgb(29, 29, 29)
}

/* .header.navbar{
background: #047dff
} */

#headshot{
	width: 75%;
	height: auto;
	padding-bottom: 10px;
}

.icon {
	height: 45px;
	width: 45px;
	/* margin: 10px 10px 0px 10px; */
}

.icons{
	display: grid;
	grid-template-columns: auto 30% 30% 30% auto;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". gitLink linkedInLink stackLink ."
		". . . . .";
	grid-area: icon-wrapper;
	justify-items: center;
}

#gitLink{
	grid-area: gitLink;
}
#linkedInLink{
	grid-area: linkedInLink;
}
#stackLink{
	grid-area: stackLink;
}

/* .iconlnk{
	float:left;
	width:33%;
} */



.mainbody{
    background-image: url("./../images/oeschinenzee.jpg");
	background-size: 100% 100%;
	border-left: 2px #444444 solid;
	border-right: 2px #444444 solid;
	border-top: 4px #444444 solid;
	height: fit-content;
	display:grid;
	grid-template-columns: 30px 45% auto 45% 30px;
	grid-template-rows: 5px auto 5px;
	grid-template-areas: 
		". . . . ."
		". maincontent . connectcontent ."
		". . . . .";

}

.maincontent{
	margin: 10px 15px 50px 15px;
	background-color: #ebebeb;
	border-radius: 5px;
	border: solid 1px #5c5c5c;
	grid-area: maincontent;
}

.messagetxt{
	width: 95%;
	max-width: 100%;
	min-width: 50%;
	min-height: 4.5em;
	height: 125px;
}

.namelogo{
	margin: 2% 15px 10px 15px; 
	padding: 0.5% 5%;
	/* padding-left: 30px; */
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	text-shadow: -1px 1px #504D4D;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;

}

#nameplate{
	text-align: center;
	font-size: 30px;
	margin: 0% 10%;
}

.nav-label{
	display: inline-block;
	width: 32%;
	height: 35px;
	background-image: url("./../images/br_nickel.png");
	border: 1px solid #3f3c39;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
}

.nav-label>a{
	color: #080808;
    border-bottom: transparent;
	margin-right: 1px;
	margin-left: 2px;
	font-weight: bold;
}

.nav-label-txt{
	margin-top: 3px;
}

.nav-tabs{
	min-width: 310px;
	max-width: 500px;
	/* max-width: 50%; */
	margin: 0% 12.5%;
	margin-top: 31.8px;
	border-bottom: none;
	font-size:18px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #999999;
	background-image: url("./../images/br_copper2.jpg");
    border: 1px solid #8f4a00;
    border-bottom: transparent;
    margin-right: 0px;
	font-weight: bold;
}

/* .nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	color: beige;
	background-color: transparent;
	border: 2px solid #9eaeb5;
	border-bottom: transparent;
	margin-right: 0px;
	font-weight: bold;
} */

.navbar{
	margin-bottom: 0px;
	/* background-color: #ebebeb; */
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 0px;
}

/* .navRow.row{
	margin-left: 0vw;
	margin-right: 0vw;
} */

/* .navtabs{
	margin: 0px auto;
} */

.nav-wrap{
	width: 100%

}


#page-nav{
	max-width: 500px;
}

.panel-title{
	border-bottom: 2px solid #999;
	padding-bottom: 10px;
}

/* .row{
	margin-right: 0px;
} */

.thumbnail{
	background-image:url("../images/br_brass.jpg");
	background-size: cover;
	border: 1px #333333 solid;
}

.topfill{
	height: 50px;
	width: 98%
}

/* @media screen and (max-width: 1003px){
	.contact-submit{
		margin-top: 2%;
		margin-bottom:5%;
	}

	.navtabs{
		margin-left: 3%;
	}


} */
@media screen and (max-width: 1090px){
	.nav-tabs{
		margin-top:0%;
	}

	.mainbody{
		display:grid;
		grid-template-columns: auto 95% auto;
		grid-template-rows: 5px auto auto 30px;
		grid-template-areas: 
			". . ."
			". maincontent ."
			". connectcontent ."
			". . .";
	
	}
}

@media screen and (max-width: 1003px){
	/* .connect-panel{
		margin-bottom: 70px;
		margin-right: 0%;
		margin-left: 12vw;
		min-width: 85%;
	} */

	/* .maincontent{
		min-width: 65vw;
		margin-left: 12vw;
	} */

	.maincontent, .namelogo{
		/* min-width: 85%; */
		margin-left: 7.5%;
	}

	.mainbody{
		padding-left: 9vw;
	}


}

@media screen and (max-width: 989px){
	.mainbody{
		padding-left: 1vw;
		margin-left: 10px;
		margin-right: 10px;
	}
	.maincontent{
		min-width: 85%;
		margin-left: 7.5%;
	}

}

@media screen and (max-width: 768px){
	/* .connect-panel{
		margin-left: 6.5%;
	} */

	.mainbody{
		border-left: 0px;
		border-right: 0px;
		padding-left: 4vw;
	}

	.nav-tabs{
		margin: auto 25vw;
	}

	.topfill{
		height: 10px;
	}
}

@media screen and (max-width: 500px){
	/* .connect-panel{
		margin-left: 7.5%;
		min-width: 85%;
	} */
	
	.nav-tabs, .namelogo{
		margin-left: 12.5vw;
	}

	.maincontent{
		min-width: 75vw;
		margin-left: 12vw;
	}
}

@media screen and (max-width:397px){
	.nav-tabs{
		min-width: 290px;
	}
}

@media screen and (max-width: 388px){
	.desc{
		width: 70%;
		font-size: 11px;
		position: absolute;
		bottom:30px;
	}
	
	.navtabs{
		margin-left: 0%;
		margin-right: 5%;
	}

	.portfolio-link, .portfolio-thbnail{
		max-height: 100px
	}


}

/* @media screen and (min-width: 1003px){
	.footer{
		height: 20vh;
	}
} */