@import '../../_config/config.scss';

// About me grid sections
.pf__about-me-bio-wrapper{
  grid-area: bio;
  @media screen and (max-width: 660px){
    #bio-p2{
      display: none;
    }
  
    #readmore1{
      display: inline-block;
    }
  
    #readmore2{
      display: none
    }
  }
}



// START HEADSHOT AND BIO SECTION
.pf__about-me-bio-and-headshot-wrapper {
  display: grid;
	grid-template-columns: $one-third*1% $two-thirds*1%;
	grid-template-rows: auto;
	grid-template-areas: 
		"headshot bio";
  justify-items: center;
  
  .pf__about-me-divider{
    border-top: 1px solid #777;
  }

  .pf__about-me-headshot {
    width: 96%;
    height: auto;
    margin-bottom: $size-xxs*1%;
    margin-right: $size-xxs*1%;
    grid-area: headshot;
    justify-self: start;
    @include raised-light();
  } 
}

// Needs to be outside the main wrapper due to nesting 
// within a generic panel component
.pf__about-me-nameplate, .pf__about-me-panel-title{
  @include font-Philosopher();
}

.pf__about-me-read-amount{
  font-weight: bold;
}



