@import '../_config/variables.scss';
@import '../_config/gradients.scss';

.pf__navbar{
  @include darkblue();

  .pf__navbar-namelogo{
    grid-area: namelogo;
    margin-bottom: $md*1px;
    padding: 0.5% $xs*1%;
    font-weight: bolder;
    @include font-Philosopher();
    /* text-shadow: -1px 1px #504D4D; */
    border: 2px solid #333333;
    border-top-left-radius: $xs*1px;
    border-bottom-right-radius: $xs*1px;
    border-bottom-left-radius: $md*1px;
    border-top-right-radius: $md*1px;
    justify-items: center;
    @include gold2();

    .pf__navbar-headshot-icon{
      width: 75px;
      display: none;
      height: auto;
      border-radius: 37px;
    
      @media screen and (max-width:$breakpoint-xs){
        grid-area: icon-block;
        display: inline-block;
      }
    }
  
    .pf__navbar-nameplate{
      text-align: center;
      font-size: 30px;
      margin: 0% 10%;
    }
  
    // .pf__navbar-initialplate{
  
    // }
  }

  // Navbar tab component wrapper
  .pf__navbar-tab-wrapper{
    grid-area: nav-tabs;
    font-size: 18px;
    align-self: end;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: none;

    // The actual tab itself
    .pf_navbar-tab-label{
      display: inline-block;
      width: 32%;
      height: 35px;
      @include lightgrey();
      border: 3px outset #666462;
      border-bottom: none;
      text-align: center;
      vertical-align: middle;
      padding-top: 5px;
      
      // The links inside the nav tabs
      a{
        color: #080808;
        border-bottom: transparent;
        margin: 3px 1px 2px auto;
        font-weight: bold;
        font-size: $fontsize-lg;
        line-height: $fontsize-lg*1.2px;
      }
    }
  }

}





