@import '../../_config/variables.scss';
@import '../../_config/gradients.scss';
@import '../../_config/config.scss';

.pf__navbar{
  width: $full*1%;
  // @include darkblue();

  .pf__navbar-namelogo{
    grid-area: namelogo;
    margin-bottom: $size-md*1px;
    padding: 0.5% $size-xs*1%;
    font-weight: bolder;
    @include font-Philosopher();
    border: 2px solid #333333;
    @include border-radius-lopsided($size-xs*1px);
    justify-items: center;
    // @include gold2();

    .pf__navbar-headshot-icon{
      width: 75px;
      display: none;
      height: auto;
      border-radius: 37px;
    
      @media screen and (max-width:$breakpoint-xs){
        grid-area: icon-block;
        display: inline-block;
      }
    }
  
    .pf__navbar-nameplate{
      text-align: center;
      font-size: 30px;
      margin: 0% 10%;
    }
  
    // .pf__navbar-initialplate{
  
    // }
  }

  // Navbar tab component wrapper
  .pf__navbar-tab-wrapper{
    grid-area: nav-tabs;
    font-size: 18px;
    align-self: end;
    padding-left: 0;
    margin-bottom: 0;
    border-bottom: none;

    // The actual tab itself
    .pf__navbar-tab-label{
      display: inline-block;
      width: 32%;
      height: 35px;
      @include lightgrey();
      border: 3px outset $grey;
      border-bottom: none;
      text-align: center;
      vertical-align: middle;
      padding-top: 5px;
      
      // The links inside the nav tabs
      a{
        color: #080808;
        border-bottom: transparent;
        margin: 3px 1px 2px auto;
        font-weight: bold;
        font-size: $fontsize-lg*1px;;
        line-height: $fontsize-lg*1.2px;
      }
    }

    //Active tab stylings
    .pf__navbar-tab--active{
      @include darkgrey();
      border: 3px groove $mistgrey;
      text-shadow:
        -1px -1px 0 $gunmetalgrey,
        1px -1px 0 $gunmetalgrey,
        -1px 1px 0 $gunmetalgrey,
        1px 1px 0 $gunmetalgrey;
      a{
        color: $azuremist;

      }
    }
  }

}





