.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.mk__panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #000;
  border-radius: 4px;
  box-sizing: border-box;
}
.mk__panel.mk__panel-default {
  border-color: #ddd;
}
.mk__panel.mk__panel-warning {
  border-color: #c00;
}
.mk__panel .mk__panel-heading {
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mk__panel .mk__panel-heading .mk__panel-title {
  border-bottom: 2px solid #999;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
  margin: 0px auto;
}
.mk__panel .mk__panel-body {
  padding: 15px;
}

.mk__footer-fixed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 1030;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.mk__panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #000;
  border-radius: 4px;
  box-sizing: border-box;
}
.mk__panel.mk__panel-default {
  border-color: #ddd;
}
.mk__panel.mk__panel-warning {
  border-color: #c00;
}
.mk__panel .mk__panel-heading {
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mk__panel .mk__panel-heading .mk__panel-title {
  border-bottom: 2px solid #999;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
  margin: 0px auto;
}
.mk__panel .mk__panel-body {
  padding: 15px;
}

.mk__footer-fixed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 1030;
}

.pf__navbar {
  width: 100%;
  background: #20004d;
  background: -moz-linear-gradient(45deg, #20004d 0%, #1d0075 32%, #020085 57%, #1d18a1 79%, #0925db 96%, #0925db 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #20004d), color-stop(32%, #1d0075), color-stop(57%, #020085), color-stop(79%, #1d18a1), color-stop(96%, #0925db), color-stop(100%, #0925db));
  background: -webkit-linear-gradient(45deg, #20004d 0%, #1d0075 32%, #020085 57%, #1d18a1 79%, #0925db 96%, #0925db 100%);
  background: -o-linear-gradient(45deg, #20004d 0%, #1d0075 32%, #020085 57%, #1d18a1 79%, #0925db 96%, #0925db 100%);
  background: -ms-linear-gradient(45deg, #20004d 0%, #1d0075 32%, #020085 57%, #1d18a1 79%, #0925db 96%, #0925db 100%);
  background: linear-gradient(45deg, #20004d 0%, #1d0075 32%, #020085 57%, #1d18a1 79%, #0925db 96%, #0925db 100%);
}
.pf__navbar .pf__navbar-namelogo {
  grid-area: namelogo;
  margin-bottom: 15px;
  padding: 0.5% 5%;
  font-weight: bolder;
  font-family: "Philosopher", sans-serif;
  border: 2px solid #333333;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-items: center;
  background: #dfb06c;
  background: -moz-linear-gradient(45deg, #dfb06c 0%, #dcad69 4%, #dfb06c 11%, #e6b773 12%, #e5b672 13%, #edbe7a 15%, #f1c27e 19%, #f2c37f 20%, #f3c480 25%, #efc27e 27%, #ecc17c 31%, #f3cb85 33%, #f4c984 33%, #efc47f 34%, #eec37e 35%, #f5ca85 37%, #f7cc87 41%, #f5cd88 45%, #fed593 46%, #fdd492 46%, #fcd594 48%, #f8d190 49%, #fad591 53%, #f9d490 54%, #ffdc98 58%, #ffdb97 60%, #ffdf9a 64%, #fbdd97 66%, #fadc96 70%, #fadc94 76%, #fbdd97 78%, #f8d996 79%, #ffdd9e 82%, #feda9c 83%, #fcd89a 86%, #feda9c 90%, #fdd99b 95%, #ffdc9e 97%, #fbd799 99%, #f9da99 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #dfb06c), color-stop(23%, #dcad69), color-stop(52%, #dfb06c), color-stop(71%, #e6b773), color-stop(100%, #e5b672));
  background: -webkit-linear-gradient(45deg, #dfb06c 0%, #dcad69 4%, #dfb06c 11%, #e6b773 12%, #e5b672 13%, #edbe7a 15%, #f1c27e 19%, #f2c37f 20%, #f3c480 25%, #efc27e 27%, #ecc17c 31%, #f3cb85 33%, #f4c984 33%, #efc47f 34%, #eec37e 35%, #f5ca85 37%, #f7cc87 41%, #f5cd88 45%, #fed593 46%, #fdd492 46%, #fcd594 48%, #f8d190 49%, #fad591 53%, #f9d490 54%, #ffdc98 58%, #ffdb97 60%, #ffdf9a 64%, #fbdd97 66%, #fadc96 70%, #fadc94 76%, #fbdd97 78%, #f8d996 79%, #ffdd9e 82%, #feda9c 83%, #fcd89a 86%, #feda9c 90%, #fdd99b 95%, #ffdc9e 97%, #fbd799 99%, #f9da99 100%);
  background: -o-linear-gradient(45deg, #dfb06c 0%, #dcad69 4%, #dfb06c 11%, #e6b773 12%, #e5b672 13%, #edbe7a 15%, #f1c27e 19%, #f2c37f 20%, #f3c480 25%, #efc27e 27%, #ecc17c 31%, #f3cb85 33%, #f4c984 33%, #efc47f 34%, #eec37e 35%, #f5ca85 37%, #f7cc87 41%, #f5cd88 45%, #fed593 46%, #fdd492 46%, #fcd594 48%, #f8d190 49%, #fad591 53%, #f9d490 54%, #ffdc98 58%, #ffdb97 60%, #ffdf9a 64%, #fbdd97 66%, #fadc96 70%, #fadc94 76%, #fbdd97 78%, #f8d996 79%, #ffdd9e 82%, #feda9c 83%, #fcd89a 86%, #feda9c 90%, #fdd99b 95%, #ffdc9e 97%, #fbd799 99%, #f9da99 100%);
  background: -ms-linear-gradient(45deg, #dfb06c 0%, #dcad69 4%, #dfb06c 11%, #e6b773 12%, #e5b672 13%, #edbe7a 15%, #f1c27e 19%, #f2c37f 20%, #f3c480 25%, #efc27e 27%, #ecc17c 31%, #f3cb85 33%, #f4c984 33%, #efc47f 34%, #eec37e 35%, #f5ca85 37%, #f7cc87 41%, #f5cd88 45%, #fed593 46%, #fdd492 46%, #fcd594 48%, #f8d190 49%, #fad591 53%, #f9d490 54%, #ffdc98 58%, #ffdb97 60%, #ffdf9a 64%, #fbdd97 66%, #fadc96 70%, #fadc94 76%, #fbdd97 78%, #f8d996 79%, #ffdd9e 82%, #feda9c 83%, #fcd89a 86%, #feda9c 90%, #fdd99b 95%, #ffdc9e 97%, #fbd799 99%, #f9da99 100%);
  background: linear-gradient(45deg, #dfb06c 0%, #dcad69 4%, #dfb06c 11%, #e6b773 12%, #e5b672 13%, #edbe7a 15%, #f1c27e 19%, #f2c37f 20%, #f3c480 25%, #efc27e 27%, #ecc17c 31%, #f3cb85 33%, #f4c984 33%, #efc47f 34%, #eec37e 35%, #f5ca85 37%, #f7cc87 41%, #f5cd88 45%, #fed593 46%, #fdd492 46%, #fcd594 48%, #f8d190 49%, #fad591 53%, #f9d490 54%, #ffdc98 58%, #ffdb97 60%, #ffdf9a 64%, #fbdd97 66%, #fadc96 70%, #fadc94 76%, #fbdd97 78%, #f8d996 79%, #ffdd9e 82%, #feda9c 83%, #fcd89a 86%, #feda9c 90%, #fdd99b 95%, #ffdc9e 97%, #fbd799 99%, #f9da99 100%);
}
.pf__navbar .pf__navbar-namelogo .pf__navbar-headshot-icon {
  width: 75px;
  display: none;
  height: auto;
  border-radius: 37px;
}
@media screen and (max-width: 550px) {
  .pf__navbar .pf__navbar-namelogo .pf__navbar-headshot-icon {
    grid-area: icon-block;
    display: inline-block;
  }
}
.pf__navbar .pf__navbar-namelogo .pf__navbar-nameplate {
  text-align: center;
  font-size: 30px;
  margin: 0% 10%;
}
.pf__navbar .pf__navbar-tab-wrapper {
  grid-area: nav-tabs;
  font-size: 18px;
  align-self: end;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.pf__navbar .pf__navbar-tab-wrapper .pf__navbar-tab-label {
  display: inline-block;
  width: 32%;
  height: 35px;
  background: #e2e2e2;
  background: -moz-linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #e2e2e2), color-stop(100%, #c2c2c2));
  background: -webkit-linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%);
  background: -o-linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%);
  background: -ms-linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%);
  background: linear-gradient(45deg, #e2e2e2 0%, #c2c2c2 100%);
  border: 3px outset #666;
  border-bottom: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}
.pf__navbar .pf__navbar-tab-wrapper .pf__navbar-tab-label a {
  color: #080808;
  border-bottom: transparent;
  margin: 3px 1px 2px auto;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.pf__navbar .pf__navbar-tab-wrapper .pf__navbar-tab--active {
  background: #7a7a7a;
  background: -moz-linear-gradient(45deg, #7a7a7a 0%, #b9b9b9 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #7a7a7a), color-stop(100%, #b9b9b9));
  background: -webkit-linear-gradient(45deg, #7a7a7a 0%, #b9b9b9 100%);
  background: -o-linear-gradient(45deg, #7a7a7a 0%, #b9b9b9 100%);
  background: -ms-linear-gradient(45deg, #7a7a7a 0%, #b9b9b9 100%);
  background: linear-gradient(45deg, #7a7a7a 0%, #b9b9b9 100%);
  border: 3px groove #ddd;
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}
.pf__navbar .pf__navbar-tab-wrapper .pf__navbar-tab--active a {
  color: #f0ffff;
}

.pf__connect-panel-wrapper {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 10px auto 10px;
  max-height: 150px;
  grid-template-areas: ". . ." ". connect-panel ." ". . .";
  grid-area: connectcontent;
}
.pf__connect-panel-wrapper .pf__connect-panel {
  grid-area: connect-panel;
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "icon-wrapper";
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body .pf__connect-icon-wrapper {
  display: grid;
  grid-template-columns: auto 30% 30% 30% auto;
  grid-template-rows: 5px auto 5px;
  grid-template-areas: ". . . . ." ". gitLink linkedInLink stackLink ." ". . . . .";
  grid-area: icon-wrapper;
  justify-items: center;
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body .pf__connect-icon-wrapper .pf__connect-icon {
  height: 45px;
  width: 45px;
  border: #bbb 1px solid;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(110, 110, 110, 0.4), 4px 4px 4px #444444;
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body .pf__connect-icon-wrapper .pf__connect-icon--gitLink {
  grid-area: gitLink;
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body .pf__connect-icon-wrapper .pf__connect-icon--linkedInLink {
  grid-area: linkedInLink;
}
.pf__connect-panel-wrapper .pf__connect-panel .pf__connect-panel-body .pf__connect-icon-wrapper .pf__connect-icon--stackLink {
  grid-area: stackLink;
}

.pf__footer {
  border: 1px solid #9c501a;
  background-image: url("./images/br_gold_large.jpg");
  background-repeat: repeat-x;
  vertical-align: middle;
  line-height: 40px;
  font-size: 18px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.pf__footer .pf__footer-copyright {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.mk__panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #000;
  border-radius: 4px;
  box-sizing: border-box;
}
.mk__panel.mk__panel-default {
  border-color: #ddd;
}
.mk__panel.mk__panel-warning {
  border-color: #c00;
}
.mk__panel .mk__panel-heading {
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mk__panel .mk__panel-heading .mk__panel-title {
  border-bottom: 2px solid #999;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
  margin: 0px auto;
}
.mk__panel .mk__panel-body {
  padding: 15px;
}

.mk__footer-fixed {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 1030;
}

.pf__about-me-bio-wrapper {
  grid-area: bio;
}

.pf__about-me-divider {
  border-top: 1px solid #777;
}

.pf__about-me-bio-and-headshot-wrapper {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-template-rows: auto;
  grid-template-areas: "headshot bio";
  justify-items: center;
}

.pf__about-me-headshot {
  width: 96%;
  height: auto;
  margin-bottom: 1%;
  margin-right: 1%;
  grid-area: headshot;
  justify-self: start;
  box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.4), 4px 4px 4px rgba(177, 177, 177, 0.836);
}

.pf__about-me-nameplate {
  font-family: "Philosopher", sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

.pf__main-wrapper {
  min-width: 370px;
  background-size: cover;
  padding-bottom: 85px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  min-width: 370px;
  background: #216fa3;
  background: -moz-linear-gradient(45deg, #216fa3 0%, #247bb5 31%, #0887d1 54%, #119ef0 71%, #65b3e6 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #216fa3), color-stop(31%, #247bb5), color-stop(54%, #0887d1), color-stop(71%, #119ef0), color-stop(100%, #65b3e6));
  background: -webkit-linear-gradient(45deg, #216fa3 0%, #247bb5 31%, #0887d1 54%, #119ef0 71%, #65b3e6 100%);
  background: -o-linear-gradient(45deg, #216fa3 0%, #247bb5 31%, #0887d1 54%, #119ef0 71%, #65b3e6 100%);
  background: -ms-linear-gradient(45deg, #216fa3 0%, #247bb5 31%, #0887d1 54%, #119ef0 71%, #65b3e6 100%);
  background: linear-gradient(45deg, #216fa3 0%, #247bb5 31%, #0887d1 54%, #119ef0 71%, #65b3e6 100%);
}

/*# sourceMappingURL=styles.css.map */
