@import './_config/variables.scss';
@import './_config/gradients.scss';
@import './navbar/navbar.scss';
@import './portfolio_page/main.scss';
@import './about_me_page/main.scss';


.pf__main-wrapper{
  background-size: cover;
	padding-bottom: 85px; 
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  min-width: 370px;
  @include midblue();
}