@import './_config/config';
@import './components/components.scss';
@import './pages/pages.scss';

// Site Variables
$title-font: 'Philospher', sans-serif;


// For wireframe layout only!
div{
  border: 2px darkolivegreen
}

// Show/hide toggle classes (can't change the name)
.hide{display: none;}

.show{display: block;}

.show-inline{display: inline-block;}

// General site settings
// BEGIN PORTFOLIO
.pf__main-wrapper{
  min-width: 370px;
  background-size: cover;
  background: $antiflashwhite;
	padding-bottom: 85px; 
	font-family: 'Source Sans Pro', sans-serif;
  font-size: $fontsize-std*1px;
  min-width: $breakpoint-min;
  // @include midblue();

  // BEGIN PORTFOLIO BODY (Everything between navbar and footer)
  .pf__main-body-wrapper{
    // background-image: url("./images/oeschinenzee.png");
    // background-size: 100% 100%;
    // background-attachment: fixed;
    
    @include border-dark($size-xs*1px,0px);
    border-style: groove;
    border-top: none;
    /* border-top: 4px #444444 solid; */
    height: fit-content;
    margin: 0px 5%;
    display: grid;
    grid-template-columns: 30px 60% auto 30% 30px;
    grid-template-rows: 5px auto 5px;
    grid-template-areas: 
      ". . . . ."
      ". maincontent . connectcontent ."
      ". . . . .";

      @media screen and (max-width: $breakpoint-lg){
        grid-template-columns: auto 95% auto;
        grid-template-rows: 5px auto auto 30px;
        grid-template-areas: 
          ". . ."
          ". maincontent ."
          ". connectcontent ."
          ". . .";
      }

      .pf__main-body-content{
        // margin: $size-sm*1px $size-md*1px $size-xl*2px $size-md*1px;
        padding: $size-sm*1px;
        background-color: $platinum;
        @include border-dark($size-xxs*1px,$size-xs*1px);
        grid-area: maincontent;
        @media screen and (max-width: $breakpoint-lg){
          padding: 0px;
          border: none;
        }
      }

      .pf__title {
        font-family: $header-font;
      }
  } 
}

